@use "sass:map";
/* =============================================== */
/* HOMEPAGE FONTS RULES  */
/* =============================================== */

/* .homepage-title  */
h1 { 
    color: $red-main;
    @include max-1200px {font-size:0.875em; }
    @include min-1200px {font-size:2.25em; }
}





/* =============================================== */
/* ===  HOMEPAGE -  MAIN SECTIONS === */
/* =============================================== */

body {
    @include max-1200px { margin: 0 20px; }
    @include min-1200px { margin: 0 35px; }
}

.homepage-content * {margin: auto; }

/* home photographers list presentation */
.photographers { 
    @include flex(row, wrap); // list will always unfold as a row
    justify-content: space-between;
    @include max-600px { margin:1.5em 0;}
    @include min-600px { margin:3.75em 0;}
    &:hover { 
        @include min-1200px {.nav-help { visibility: visible; }} // visible only when main content hovered
    }
}

/* 'accessibility hint 'passer au contenu' 
= visible only on hovering main content - desktop */
.nav-help {
    visibility: hidden;
    position: absolute; // visible only when main content hovered
    top: 10px; left: 45%;
    padding: 0.2em 0.5em;
    background-color: $orange-main;
    @include border-radius(3px);
    a span {
        color:$dark;
        font-size: 1em; // 16px
        font-weight: 700;
    }
}
