/* =============================================== */
/* PHOTOGRAPHER PAGE - FONTS RULES  */
/* =============================================== */
body {
    // background-color: lightyellow;
    @include max-1200px { margin: 0 20px; }
    @include min-1200px { margin: 0 80px; }
}
/* =============================================== */
/* ===  PHOTOGRAPHER PAGE -  MAIN SECTIONS === */
/* =============================================== */

.photographer-content-wrapper {
    position: relative;  // for bottom infos abs pos
}
