// ===============================
/* DROPDOWN GALLERY MENU NAV */
// ===============================

/* FYI : dropdown menu item share some style with main-btn */

.listbox-area { 
    display: inline; // dropdown title and menu are side by side
    margin: 15px unset;
    
    .dropdown-menu {
        background-color: $red-main;
        width: 170px;
        height:170px;
        @include border-radius(5px);
        @include flex(column, nowrap);
            
            button, li {
                flex: auto;
                @include main-btn;
                width:90%; margin:auto; 
                flex:auto;  // will take whatever y space is left
                align-items: center;
                // border: 1px solid white;
                &:not(:nth-child(3)) { border-bottom: 0.5px solid $white; } // all but third li element have bottom border

                display: inline-block;
                text-transform: capitalize;
                margin-top: 10%; // ------------- to review
                
            }
        
    }
}

