/* =============================================== */
/* MAIN BUTTON  */
/* =============================================== */

.main-btn {
    color: $white; font-weight:700;
    // font-size:1.125em; // =18px
    @include max-600px {font-size:1em; }// =16px
    @include min-600px {font-size:1.2em;} // 
    background-color: $red-main;
    height: 18px;
    width: 170px;
}
