/* =============================================== */
/* NAV TAGS RULES  */
/* =============================================== */
// component is used as top main navigation homepage
// and in photographer's profile tagslist : home and own page
// it is designed as one list wrapper, which style will vary based on host


.tags-list { // tags container
    border:1px solid lightgreen;
    display: flex;
    align-items: center;
    flex:auto; // takes whatever x space is left

    // up to 1200 nav takes the whole width
    @include max-1200px{ width:100%; @include flex(row, wrap); }
    // from 1200 nav will wrap to next line 
    @include min-1200px{ @include flex(row, nowrap);justify-content: center; margin: 0 80px;}

    .nav-tag { // tags elements
        padding: 0.1em 0.5em;
        color: $red-main;
        font-weight: 500;text-transform: capitalize;
        border: 1px solid $greySpecial;
        @include border-radius(10px);
        @include max-1200px {margin: 0 1%;}
        @include min-1200px {margin: 1%;}

        .visuallyHidden {   // ------ to review ( present in _main-rules too )
            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }
    }
    &.home { justify-content: center; // homepage: taglist =  always centered
        flex-flow: row wrap; // homepage: photographer profile: tagslist will wrap if needed
        .nav-tag {
            font-size: 0.75em; // =12px
        }
    }
    &.page{ justify-content: unset; // photographer page: taglist = left aligned 
        .nav-tag {
            @include min-600px {font-size: 1.125em;} // = 18px
            @include max-600px { font-size: 0.8125em;} // = 13px
        }
    }
}

/* navigation tags inside photographer profile  HOME */
.photographer__tags-list {
    margin:5px auto;
}