/* ================================== */
/* MODAL CONTACT */
/* ================================== */

.contact-modal__main-wrapper { // white bg
    width:100vw; height:100vh;

    .contact-modal__inner-wrapper {
        position: relative; // for cancel btn placement
        width: 670px;
        height:900px;
        margin: auto;
        background-color: $orange-main;
        @include border-radius(3px);

        .cancelModalBtn { position: absolute; right:0; }
    
        .fields-wrapper {

            margin: 30px 35px;
            color: $dark;
    
            h1 { 
                font-size: 64px;
                margin: 0;
                padding: 2% 0;
                color: $dark;
            }
    
            .field {
                    
                label { width: 100%;height: 35px; font-size: 36px; margin-bottom:5px; }
                input { width: 100%;  @include border-radius(3px);}
                input:not([type="textarea"]){ height: 70px; } // all fields but txtarea
                input[type="textarea"]{ height: 170px; }
                .requirements {
                    // visibility: hidden; //------ to review for accessibility 
                    color: $red-main;
                    font-style: italic;
                    font-size: 1em;
                    transition: 0.28s;
                }
            }
            .main-btn { margin: 25px 0;}
        }

    }
}